<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header text-white bg-dark mb-3 h6">
                Bonus - Jumlah Supplier
            </div>
            <div class="card-body">
                    <table class="table table-striped text-center" id="obatTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Harga</th>
                                    <th>Jumlah Supplier</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="obat, iterationStatus : ${list_obat}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${obat.kode}"></td>
                                    <td th:text="${obat.nama}"></td>
                                    <td th:text="'Rp'+${obat.harga}"></td>
                                    <td th:text="${listJmlSupplier[__${iterationStatus.index}__]}"></td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
    </div>  
    <br>
</body>
</html>

