<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title> Tambah Obat </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<form th:action="@{/obat/filter}">
    <div class="container">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-white bg-dark mb-3 h6">
                    Filter Obat
                </div>
                <div class="card-body">
                    <form th:action="@{/obat/filter}">
                        <div class="form-group row">
                                <label>Gudang:</label>
                                <select class="form-control" id="gudang" name="idGudang">
                                        <option disabled="disabled" selected="selected">-- Pilih Gudang --</option>
                                        <div th:each="thisGudang : ${listAllGudang}">
                                            <option  th:value="${thisGudang.id}" th:text="${thisGudang.nama}"></option>
                                        </div>
                                    </select>
                        </div>
                        <div class="form-group row">
                                <label>Jenis:</label>
                                <select class="form-control" id="jenis" name="idJenis">
                                        <option disabled="disabled" selected="selected">-- Pilih Jenis --</option>
                                        <div th:each="thisJenis : ${listAllJenis}">
                                            <option  th:value="${thisJenis.id}" th:text="${thisJenis.nama}"></option>
                                        </div>
                                    </select>
                        </div>
                        <div class="form-group row">
                                <label>Supplier:</label>
                                <select class="form-control" id="supplier" name="idSupplier">
                                        <option disabled="disabled" selected="selected">-- Pilih Supplier --</option>
                                        <div th:each="thisSupplier : ${listAllSupplier}">
                                            <option  th:value="${thisSupplier.id}" th:text="${thisSupplier.nama}"></option>
                                        </div>
                                    </select>
                        </div>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
    <br>
</html>