<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title> Tambah Obat </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h3>Tambah Gudang</h3>
    <form th:action="@{/gudang/tambah}" th:object="${gudang}" method="POST">
        Nama: <input type="text" name="nama" maxlength="255" autofocus required/>
        <br>
        Alamat: <input type="text" name="alamat" maxlength="255" required/>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>