<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title> Tambah Obat </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h3>Tambah Obat</h3>
    <form th:action="@{/obat/tambah}" th:object="${obat}" method="POST">
        Nama: <input type="text" name="nama" maxlength="255" autofocus required/>
        <br>
        Nomor Registrasi: <input type="text" name="nomorRegistrasi" maxlength="255" required/>
        <br>
        Tanggal Terbit: <input type="date" name="tanggalTerbit" required/>
        <br>
        Harga: <input type="number" name="harga" maxlength="20" required/>
        <br>
        Bentuk: <select id="bentuk" name="bentuk">
                    <option disabled="disabled" selected="selected">-- Pilih Bentuk --</option>
                    <option  th:value="Cairan" th:text="Cairan"></option>
                    <option  th:value="Kapsul" th:text="Kapsul"></option>
                    <option  th:value="Tablet" th:text="Tablet"></option>
                </select>
        <br>
        jenis: <select id="jenis" name="jenis">
                    <option disabled="disabled" selected="selected">-- Pilih Jenis --</option>
                    <option  th:value="1" th:text="Generik"></option>
                    <option  th:value="2" th:text="Paten"></option>
                </select>
        <br>
        Supplier: <select id="supplier" name="supplier">
                    <option disabled="disabled" selected="selected">-- Pilih Supplier --</option>
                    <div th:each="thisSupplier : ${listAllSupplier}">
                        <option  th:value="${thisSupplier.id}" th:text="${thisSupplier.nama}"></option>
                    </div>
                </select>
        <br>
        <button type="button">Tambah Supplier</button>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

<!--<select id="provinsi" name="provinsi">-->
<!--    <option disabled="disabled" selected="selected">&#45;&#45;-->
<!--        Pilih Provinsi &#45;&#45;</option>-->
<!--    <option th:each="provinsi : ${listProvinsi}"-->
<!--            th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>-->
<!--</select>-->