<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h2 th:text="'Gudang ' + ${namaGudang} + ' dengan id ' + ${idGudang} +' tidak bisa dihapus.'"></h2>
<h2 th:text="'Gudang ' + ${namaGudang} + ' masih memeliki obat.'"></h2>
<h2 th:text="'Lakukan operasi kosongkan obat pada gudang ' + ${namaGudang} + ' terlebih dahulu'"></h2>
<br>
<a th:href="@{/}" style="color: blue">Kembali ke Beranda</a>
</body>
</html>