<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<h4 class="text-center" th:text="'Gudang ' + ${namaGudang} + ' dengan id ' + ${idGudang} +' tidak bisa dihapus dikarenakan masih memiliki obat.'"></h4>
<br>
<h4 class="text-center" th:text="'Kosongkan obat pada gudang ' + ${namaGudang} + ' terlebih dahulu untuk menghapus gudang.'"></h4>>
</body>
</html>